################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FlaskWebProject1/obj/Debug
/.vs/FlaskWebProject1/v16
/FlaskWebProject1/env
/FlaskWebProject1/.vscode
/FlaskWebProject1/.venv
